

  <div class="comment">

    <div class="img-container">
      <div class=>
        <%= cl_image_tag(comment.user.photo.key, width: 60, class: "avatar") %>
        </div>
    </div>
    <div class="content-container w-100">
      <div class="header-container">
        <div class="username">
          <p class="bold"><%= comment.user.username %> • <span class="light"><%= (Time.now - comment.created_at).fdiv(60).floor %> min ago</span></p>
        </div>
      </div>
      <div class="content">

        <% if current_user == comment.user %>
          <p class="comment-body-red"><%= comment.body %></p>
        <% else %>
          <p class="comment-body"><%= comment.body %></p>
        <% end %>
      </div>
      <div class="reply">
        <p>
          <i class="fas fa-reply small" style="margin-right: 5px;"></i>
          </p>
        <p class="small padding-top-2">Reply</p>
      </div>
    </div>
  </div>
