<div class="comment <%= current_user && current_user == comment.user ? 'self-comment' : 'other-comment' %>">
  <div class="content-container">
    <div class="header-container">
      <div class="username">
        <p class="text-gray"><%= comment.user.username %> •
          <span>
            <% if (Time.now - comment.created_at).fdiv(60).floor < 60 %>
              <%= (Time.now - comment.created_at).fdiv(60).floor %> min ago
            <% else %>
              <%= (Time.now - comment.created_at).fdiv(60).fdiv(60).floor %>h
              <%= ((Time.now - comment.created_at).fdiv(60)%60).floor %>min
            <% end %>
          </span></p>
      </div>
    </div>
    <div class="content">
      <p class="comment-body"><%= comment.body %></p>
    </div>
    <div class="reply">
      <p class="text-gray">
      <i class="fas fa-reply small" style="margin-right: 5px;"></i>
      </p>
    <p class="small padding-top-2 text-gray">Reply</p>
    </div>
  </div>
  <div class="img-container">
    <div class=>
      <%= cl_image_tag(comment.user.photo.key, width: 60, class: "avatar-red") %>
    </div>
  </div>
</div>



