<% events.each do |event| %>
<div class="flex flex-wrap">
  <div class="tile_date">
    <h3 class="text-green text-center"><%= event.time.strftime("%d") %></h3>
    <p class="text-white small text-center"><%= event.time.strftime("%a") %></p>
  </div>

 <% if event.creator_id == current_user %>
  <div class="tile_event">
    <div class="tile__media">
      <%= link_to cl_image_tag(event.photo.key, class: "tile__img__small__event"), event_path(event) %>
      <div class="white-card">
        <p class="small text-green">
          <%= start_time_humanized(event) %>
        </p>
        <h3><%= event.name %> </h3>
        <div class="flex align-items-center mt-20">
          <i class="fas fa-pen small text-gray pr-7"></i>
          <p class="small text-gray">Edit</p>
          <i class="fas fa-trash small text-gray pr-7 ml-12"></i>
          <p class="small text-gray">Delete</p>
        </div>
      </div>
    </div>
  </div>


  <% else %>
  <div class="tile_event">
    <div class="tile__media">
      <%= link_to cl_image_tag(event.photo.key, class: "tile__img__small__event"), event_path(event) %>
      <div class="white-card">
        <p class="small text-green">
          <%= start_time_humanized(event) %>
        </p>
        <h3><%= event.name %> </h3>
        <div class="flex align-items-center mt-20">
          <i class="fas fa-user small text-gray pr-7"></i>
          <p class="small text-gray"><%= event.creator.username.capitalize %> </p>
          <i class="fas fa-map-marker small text-gray pr-7 ml-12"></i>
          <p class="small text-gray"><%= event.address.split(',')[1].split.last %> </p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>



