<% events.each do |event| %>
  <!-- we need a new class to distinguiss the events where we are the crator -->
  <% if event.creator_id == current_user %>
    <div class="tile__small">
            <div class="tile__media">
              <%= link_to cl_image_tag(event.photo.key, class: "tile__img"), event_path(event) %>
              <h3><%= event.name %> </h3>
              <p><%= event.description %></p>
            </div>
    </div>
  <% else %>
  <!-- and the events where we are not the creator -->
    <div class="tile__small">
            <div class="tile__media">
              <%= link_to cl_image_tag(event.photo.key, class: "tile__img"), event_path(event) %>
              <h3><%= event.name %> </h3>
              <p><%= event.description %></p>
            </div>
    </div>
  <% end %>
<% end %>
