<div class="flex justify-center mb-40 user-background">
  <%= image_tag @user.photo, class: "user-background-image" %>
  </div>
  <div class="flex justify-center mt-300">
    <div class="event-info b-black">

      <div class="profil-info">
        <h3 class="pt-20"><%= @user.username.capitalize %> </h3>
        <h3 class="text-green">Tøyen, Oslo</h3>
      </div>
    </div>
</div>

<div class="flex justify-center mb-40 event-container">
  <div class="event-info b-black">


  <!-- if current_user == @user -->
  <div class="flex mb-20">
    <p class="button-gray-border small text-gray"><%= link_to "UPDATE" %> </p>
    <p class="button-gray-border small"><%= link_to "DELETE", user_path, method: :delete %></p>
  </div>

  <!-- end -->

    <div class="flex justify-between event-border">
    <div>
      <h3 class="text-red mb-16" style="text-align: left;">Info</h3>
        <p class="text-white margin-bottom-5" style="text-align: left;">
          <i class="fas fa-user small text-white pr-7"></i>
          <%= @user.username.capitalize %>
        </p>
        <p class="text-white">
          <i class="fas fa-envelope x-small text-white pr-7"></i>
          <%= @user.email %>
        </p>
      </div>
    </div>

    <div class="flex justify-between event-border">
      <div>
        <h3 class="text-red mb-16" style="text-align: left;">My events this week:</h3>
        <%= render 'eventcarrousel', events: @events_this_week %>
       </div>
     </div>

    <div class="flex justify-between event-border">
      <div>
        <h3 class="text-red mb-16" style="text-align: left;">My events this month:</h3>
        <%= render 'eventcarrousel', events: @events_this_month %>
      </div>
    </div>

    <div class="flex justify-between event-border">
      <div>
        <h3 class="text-red mb-16" style="text-align: left;">Friends I have met</h3>
        <%= render 'carousel', users: @array_of_friends %>
      </div>
    </div>






  </div>
</div>

