<div class="flex justify-center mb-40 event-container">
  <div class="event-info">
      <%= image_tag @user.photo, class: "profil-picture" %>
  <div class="profil-info">
    <h3><%= @user.username.capitalize %> </h3>
    <h3 class="text-green">Tøyen, Oslo</h3>
  </div>
  </div>
</div>

    <!--- BUTTONS --->
<!---
  <div class="flex justify-center mb-35">
    <p class="button-gray small">SPORTS</p>
    <p class="button-gray small">SPORTS</p>
    <p class="button-gray small">SPORTS</p>
  </div>
--->


<div class="flex justify-center mb-40 event-container">
  <div class="event-info">

  <!-- if current_user == @user -->
  <div class="flex mb-20">
    <p class="button-gray-border small text-gray"><%= link_to "UPDATE" %> </p>
    <p class="button-gray-border small"><%= link_to "DELETE", user_path, method: :delete %></p>
  </div>
  <!-- end -->

    <div class="flex justify-between event-border">
    <div>
      <h3 class="text-red mb-16" style="text-align: left;">Info</h3>
        <p class="text-white margin-bottom-5" style="text-align: left;">
          <i class="fas fa-user small text-white pr-7"></i>
          <%= @user.username.capitalize %>
        </p>
        <p class="text-white">
          <i class="fas fa-envelope x-small text-white pr-7"></i>
          <%= @user.email %>
        </p>
      </div>
    </div>

    <div class="flex justify-between event-border">
    <div>
      <h3 class="text-red mb-16" style="text-align: left;">My events</h3>
    </div>
    </div>

    <div class="flex justify-between event-border">
    <div>
      <h3 class="text-red mb-16" style="text-align: left;">Events attending</h3>
    </div>
    </div>

    <div class="flex justify-between event-border">
    <div>
      <h3 class="text-red mb-16" style="text-align: left;">Friends I have met</h3>
    </div>
    </div>

  </div>
</div>


<!--- OBS! THE TEXT IS WHITE--->
<!--- the next lines come from the show and its a list of friends ive met in previous events--->
<!---
<div class="users_show">
   @array_of_friends.each do |friend|
     friend.username
   end
</div>
--->
