<h2 class="tile__tag mb-20"><%= title %></h2>

<% events.each do |event| %>
  <div class="tile">
    <div class="tile__media">
      <div class="tile_img_contain">
        <div class="absolute">
        </div>
        <%= link_to cl_image_tag(event.photo.key, class: "tile__img__medium"), event_path(event) %>
      </div>

      <div class="flex justify-between white-card">
        <div class="grow">
          <p class="small">
            <%#= event.time.strftime("%b, %-d, %Y, %H:%M") %>
            <%= start_time_humanized(event) %>
          </p>
          <h3><%= event.name %></h3>
        </div>

        <div class="pl-20 pr-20 number-border">
          <p class="small green-text">Going</p>
          <h3 class="number green-text"><%= event.people_going %></h3>
        </div>

        <div class="pl-20">
          <p class="small red-text">Missing</p>
          <h3 class="number red-text"><%= event.people_needed %></h3>
        </div>
      </div>

    </div>
  </div>
<% end %>
