<h3 class="tile__tag mb-20 text-white"><%= title %></h3>

<% events.each do |event| %>
  <div class="tile">
    <div class="tile__media">
      <div class="tile_img_contain">
        <div class="absolute">
        </div>
        <%= link_to cl_image_tag(event.photo.key, class: "tile__img"), event_path(event) %>
      </div>

      <div class="white-card">
        <div class="flex">
          <div class="grow">
            <p class="small text-green">
              <%#= event.time.strftime("%b, %-d, %Y, %H:%M") %>
              <%= start_time_humanized(event) %>
            </p>
            <h3><%= event.name %></h3>
          </div>
          <div class="number-missing flex justify-content-center align-items-center">
            <h3 class="number"><%= event.people_needed %></h3>
          </div>
        </div>

        <div class="flex align-items-center mt-20">
          <i class="fas fa-user small text-gray pr-7"></i>
          <%  u = User.find(event.creator_id) %>
          <p class="small text-gray"><%= u.username.capitalize %> </p>
          <i class="fas fa-map-marker small text-gray pr-7 ml-12"></i>
          <p class="small text-gray"><%= event.address.split(',')[1].split.last %> </p>
        </div>
      </div>

<!----
        <div class="pl-20 pr-20 number-border">
          <p class="small green-text">Going</p>
          <h3 class="number green-text"><%= event.people_going %></h3>
        </div>

        ---->



    </div>
  </div>
<% end %>
