<div>

<div class="flex">
 <div class="marginr-6 green-border w-100">
  <p class="small green-text text-center">Going</p>
  <h3 class="number green-text"><%= event.people_going %></h3>
</div>

<div class="marginl-6 red-border w-100">
  <p class="small red-text text-center">Missing</p>
  <h3 class="number red-text"><%= event.people_needed %></h3>
</div>
</div>


  <%= image_tag event.photo, class: 'img-popup' %>



  <p class="small"> <%= t = event.time.strftime("%b, %-d, %Y, %H:%M") %></p>
  <h3><%= event.name %></h3>
</div>




<p><%= event.address %></p>

