<div class="contain" style="margin-top: 100px;">
  <div class="row">
    <div class="row__inner">
    <%= render 'carrousel', events: Event.where(time: (DateTime.now-2.hour..DateTime.now+2.hour)), title: 'Happening now' %>
    </div>
  </div>
</div>

<div class="contain">
  <div class="row">
    <div class="row__inner">
    <%= render 'carrousel', events: Event.where(categories: 'sport'), title: 'Sports' %>
    </div>
  </div>
</div>

<div class="contain">
  <div class="row">
    <div class="row__inner">
      <%= render 'carrousel-medium', events: Event.where(categories: 'board games'), title: 'Board Games' %>
    </div>
  </div>
</div>

<div class="contain">
  <div class="row">
    <div class="row__inner">
      <%= render 'carrousel', events: Event.where(categories: 'social'), title: 'Mingle' %>
    </div>
  </div>
</div>



<!-- FRIENDS I HAVE MET -->

<div class="contain">
  <div class="row">
    <div class="row__inner">

      <%= render 'carousel', friends: @array_of_friends %>

    </div>
  </div>
</div>

<!-- MAP -->
  <h2 class="pl-40 pr-40">Happening near you</h2>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>"
  >

  </div>
