<div class="contain" style="margin-top: 100px;">
  <div class="row">
    <div class="row__inner">
    <%= render 'carrousel', events: Event.where(time: (DateTime.now-2.hour..DateTime.now+2.hour)), title: 'Happening now' %>
    </div>
  </div>
</div>

<div class="contain">
  <div class="row">
    <div class="row__inner">
    <%= render 'carrousel', events: Event.where(categories: 'sport'), title: 'Sports' %>
    </div>
  </div>
</div>

<div class="contain">
  <div class="row">
    <div class="row__inner">
      <%= render 'carrousel-medium', events: Event.where(categories: 'board games'), title: 'Board Games' %>
    </div>
  </div>
</div>

<div class="contain">
  <div class="row">
    <div class="row__inner">
      <%= render 'carrousel', events: Event.where(categories: 'social'), title: 'Mingle' %>
    </div>
  </div>
</div>



<!-- FRIENDS I HAVE MET -->

<div class="contain">
  <div class="row">
    <div class="row__inner">

      <div class="tile__small">
        <div class="tile__media">
          <h2>Friends I have met</h2>
          <img class="tile__img__small" src="../assets/beer" alt=""  />
          <h3>First name</h3>
        </div>
      </div>

      <div class="tile__small">
        <div class="tile__media">
          <img class="tile__img__small" src="../assets/beer" alt=""  />
          <h3>First name</h3>
        </div>
      </div>

      <div class="tile__small">
        <div class="tile__media">
          <img class="tile__img__small" src="../assets/beer" alt=""  />
          <h3>First name</h3>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- MAP -->
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>"
  >

  </div>
