<div class="hero-container">
  <div id="two">
    <svg
    id="hero-svg"
    width="70%"
    height="100%"
    viewBox="0 0 368 334"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">



    <path
      d="M68.1771 104.604H73.9579V167H68.1771V104.604Z"
      fill="white"/>
    <path
      d="M146.813 0V4.18809C129.51 6.28214 108.013 13.0878 94.3799 32.4577C83.3689 47.116 73.9309 87.9499 73.9309 106.273H68.1632C68.1632 87.9499 59.2496 46.069 48.7629 31.4107C36.7033 14.1348 20.449 6.80564 0 4.18809V0H146.813ZM325.086 205.216C325.086 258.091 308.832 297.354 272.129 317.248C251.68 328.241 222.317 334 187.711 334C152.581 334 124.791 321.436 119.024 317.771V314.107C146.289 317.771 177.749 312.013 196.1 301.019C221.793 285.314 230.706 262.279 230.706 219.875V64.9154C230.706 18.8464 217.074 8.89969 189.284 4.18809V0H367.033V4.18809C336.622 8.89969 325.086 21.464 325.086 64.9154V205.216Z"
      fill="white"/>

    </svg>
  <div id="one">
    <div class="square">
      <svg
      width="100%"
      height="100%"
      viewBox="0 0 64 64"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
        <path
        class="hero-plus"
        d="M63.499 28.111V34.4907H35.1889V63.0003H28.8091V34.4907H0.499016V28.111H28.8091V0.000213623H35.1889V28.111H63.499Z"
        fill="transparent"/>
      </svg>
    </div>
  </div>
</div>
 </div>

<div class="scroll-indicator-container">

  <div class="small-arrow">
    <svg
    width="100"
    height="130"
    viewBox="0 0 200 200"
    fill="none"
    xmlns="http://www.w3.org/2000/svg">
      <path
      class="small_arrow"
      d="M135.149 55.5746L79.5742 111.149L23.9996 55.5746"
      stroke="white"
      stroke-width="2"/>
    </svg>
  </div>
</div>


<div class="contain" style="margin-top: 100px;">
  <div class="row">
    <div class="row__inner" id="top_header">
    <%= render 'carrousel', events: Event.where(time: (DateTime.now-9.hour..DateTime.now+4.hour)), title: 'Happening now' %>
    </div>
  </div>
</div>

<!-- HAPPY HELPING PUT YOUR CODE  -->

<div class="contain">
  <div class="row">
    <div class="row__inner">
    <%= render 'carousel-volunteer', events: Event.where(categories: 'volunteering'), title: 'Happy helping' %>
    </div>
  </div>
</div>


<!-- FRIENDS I HAVE MET -->
<% if user_signed_in? && @array_of_friends != []%>
  <div class="contain">
    <div class="row-small">
      <div class="row__inner">
        <%= render 'carousel', users: @array_of_friends %>
      </div>
    </div>
  </div>
<% end %>


<!-- MAP -->
  <h3 class="pl-40 pr-40 text-white">Happening near you</h2>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>"
  >
  </div>




<div class="contain" style="margin-top: 80px;">
  <div class="row">
    <div class="row__inner">
    <%= render 'carrousel', events: Event.where(categories: 'feeling adventurous'), title: 'Feeling adventurous' %>
    </div>
  </div>
</div>

<div class="contain">
  <div class="row-medium">
    <div class="row__inner">
      <%= render 'carrousel-medium', events: Event.where(categories: 'game on'), title: 'Game on' %>
    </div>
  </div>
</div>

<div class="contain">
  <div class="row-medium">
    <div class="row__inner">
      <%= render 'carrousel-medium', events: Event.where(categories: 'let\'s move around'), title: 'Let\'s move around' %>
    </div>
  </div>
</div>

<div class="contain">
  <div class="row">
    <div class="row__inner">
      <%= render 'carrousel', events: Event.where(categories: 'mingle'), title: 'Let\'s mingle!' %>
    </div>
  </div>
</div>

