<div class="contain" style="margin-top: 100px;">
  <div class="row">
    <div class="row__inner" id="top_header">
    <%= render 'carrousel', events: Event.where(time: (DateTime.now-9.hour..DateTime.now+4.hour)), title: 'Happening now' %>
    </div>
  </div>
</div>


<!-- FRIENDS I HAVE MET -->
<% if user_signed_in? && @array_of_friends != []%>
  <div class="contain">
    <div class="row-small">
      <div class="row__inner">
        <%= render 'carousel', users: @array_of_friends %>
      </div>
    </div>
  </div>
<% end %>



<div class="contain">
  <div class="row-medium">
    <div class="row__inner">
      <%= render 'carrousel-medium', events: Event.where(categories: 'game on'), title: 'Game on' %>
    </div>
  </div>
</div>

<!-- MAP -->
  <h3 class="pl-40 pr-40">Happening near you</h2>
  <div
    id="map"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>"
  >

  </div>




<div class="contain" style="margin-top: 80px;">
  <div class="row">
    <div class="row__inner">
    <%= render 'carrousel', events: Event.where(categories: 'feeling adventurous'), title: 'Feeling adventurous' %>
    </div>
  </div>
</div>



<div class="contain">
  <div class="row-medium">
    <div class="row__inner">
      <%= render 'carrousel-medium', events: Event.where(categories: 'let\'s move around'), title: 'Let\'s move around' %>
    </div>
  </div>
</div>

<div class="contain">
  <div class="row">
    <div class="row__inner">
      <%= render 'carrousel', events: Event.where(categories: 'mingle'), title: 'Let\'s mingle!' %>
    </div>
  </div>
</div>




