<!--- BUTTONS ON TOP --->
<div class="flex justify-content-center event-container">
  <div class="button-container" style="margin-top: 80px;">
    <div>
      <p class="text-gray xs-small text-center mb-10">People Going</p>
    <div class="butn">
      <div class="green-border">
        <!--- <p class="x-small green-text" style="margin-bottom: 4px;">Going</p> --->
        <h2 class="white-text" id="going-count"><%= @going_count %></h2>
      </div>
    </div>
  </div>

  <div>
    <p class="text-gray xs-small text-center mb-10">People Needed</p>
    <div class="butn">
      <div class="red-border">
        <!--- <p class="x-small red-text" style="margin-bottom: 4px;">Missing</p> --->
        <h2 class="white-text" id="missing-count"><%= @missing_count %></h2>
      </div>
    </div>
  </div>

      <div>
        <p class="text-gray xs-small text-center mb-10">
          <span id="going-text" class="<%= @event_user.present? ? '' : 'd-none' %>">
            You are going!
          </span>

          <span id="join-text" class="<%= @event_user.present? ? 'd-none' : '' %>">
            Join event
          </span>
        </p>
        <div class="butn">
          <div class="join-green flex justify-content-center align-items-center" id="join-button" data-cancel_url="<%= event_user_path(@event_user || 0) %>" data-join_url="<%= event_event_users_path(@event) %>" data-joined="<%= @event_user.present? %>">
            <svg width="55"
            height="50"
            viewBox="0 0 55 50"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M15.582 37.8288V38.7826H11.3496V43.0449H10.3958V38.7826H6.16337V37.8288H10.3958V33.6262H11.3496V37.8288H15.582Z" fill="#EC4E6E"/>
            <rect x="10.2061" y="15.6594" width="0.865385" height="9.34066" fill="white"/>
            <path d="M21.9783 0V0.62696C19.388 0.94044 16.1698 1.95925 14.129 4.85894C12.4806 7.05329 11.0678 13.1661 11.0678 15.9091H10.2043C10.2043 13.1661 8.86996 6.89655 7.3001 4.70219C5.49476 2.11599 3.06148 1.01881 0.000255585 0.62696V0H21.9783ZM48.6659 30.721C48.6659 38.6364 46.2326 44.5141 40.7381 47.4922C37.6769 49.1379 33.2813 50 28.1007 50C22.8417 50 18.6816 48.1191 17.8181 47.5705V47.0219C21.8998 47.5705 26.6094 46.7085 29.3566 45.0627C33.2028 42.7116 34.5371 39.2633 34.5371 32.9154V9.71787C34.5371 2.82132 32.4963 1.33229 28.3362 0.62696V0H54.9453V0.62696C50.3927 1.33229 48.6659 3.21317 48.6659 9.71787V30.721Z" fill="white"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--- IMAGE --->
<div class="mt-40 event-image-container">
  <%=  cl_image_tag (@event.photo.key), class: "w-100 event-image" %>
</div>

<!--- CONTENT --->
<div class="flex justify-content-center event-container">
<div class="event-info mt-40">
  <h3><%= @event.name %> </h3>
  <h3 class="text-green mb-60"><%= start_time_humanized(@event) %></h3>

    <!--- UPDATE AND DELETE --->
  <% if current_user == @event.creator %>
  <div class="flex mb-20">
    <p class="button-gray-border small text-gray"><%= link_to "UPDATE", edit_event_path(params[:id]) %> </p>
    <p class="button-gray-border small"><%= link_to "CANCEL", event_path, method: :delete %></p>
  </div>
  <% end %>


  <div class="flex">
    <div>
      <p class="text-gray margin-bottom-5">
        <i class="fas fa-clock x-small text-gray pr-7"></i>
        <%= @event.time.strftime("%B %-d at %-l:%M%p") %>
      </p>
    </div>
    <div class="mb-20">
      <p class="text-gray">
        <i class="fas fa-map-marker small text-gray pr-7 ml-12"></i>
        <%= @event.address.split(',')[1].split.last %> </p>
    </div>
  </div>




   <!--- DESCRIPTION --->

  <div class="flex justify-between event-border">
    <div>
      <h3 class="text-red mb-16">Event Manager</h3>
      <p class="text-white margin-bottom-5">
        <i class="fas fa-user small text-white pr-7"></i>
        <%= @user.username.capitalize %>
      </p>
      <p class="text-white">
        <i class="fas fa-envelope x-small text-white pr-7"></i>
        <%= @user.email %>
      </p>
    </div>
      <%= link_to image_tag(@user.photo, class: "avatar-big"), @user %>
  </div>

  <div class="event-border">
    <h3 class="text-red mb-16">Description</h3>
    <p class="mb-30"><%= @event.description %> </p>
  </div>

  <div class="event-border">
  <h3 class="text-red mb-40">Find your way there</h3>

    <div
      id="map"
      data-markers="<%= @marker.to_json %>"
      data-mapbox-api-key="<%= ENV["MAPBOX_API_KEY"] %>"
    >
    </div>
  </div>


  <!--- GOING --->

  <div class="event-border">
    <div>
      <h3 class="red-text mb-20">People going</h3>
    </div>
    <div class="flex flex-wrap" id="event-people-going">
      <% @event_attendees.each do |user_id| %>
        <% user =User.find(user_id) %>
        <%= link_to cl_image_tag(user.photo.key, class: "avatar margin-bottom-5", id: "avatar-#{user_id}"), user_path(user) %>
      <% end %>

      <!-- the next lines are the avaatars of the ppl going -->
     <!--  <img class="avatar marginr-4" src="../assets/beer" alt=""  />
      <img class="avatar marginr-4" src="../assets/beer" alt=""  />  -->
    </div>
  </div>


  <!--- CANCEL --->

<!--   <div class="mt-40">
    <p class="button-cancel">Cancel</p>
  </div> -->

  <!--- FACEBOOK WALL --->

  <div class="flex justify-between mt-35 event-border">
    <h3 class="red-text">Question</h3>
  </div>

  <div class="mb-40">
   <div>
    <div id="comments" data-event_id="<%= @event.id %>">
      <% if @comments.count > 0 %>
        <%= render @comment %>
      <% end %>
    </div>

    <%= form_with model: [@event, Comment.new], html: { id: 'bottom' } do |form| %>
      <div class="form-group" style="display: flex; flex-direction: row;">
   <!--      <%= form.label :body %> -->
        <%= form.text_field :body, placeholder: "Add your comment", autocomplete: "off" %>
 <!--        <%= form.submit :class => "input_comment" %> -->
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>

<% content_for :after_js do %>
<script>
  const eventId = <%= @event.id %>;

  if (!window.eventIds.includes(eventId)) {
    subscribeEvent(eventId);
  }
</script>
<% end %>
