<!--- BUTTONS ON TOP --->

<div class="button-container" style="margin-top: 100px;">
  <div class="butn">
    <div class="green-border">
      <p class="x-small green-text" style="margin-bottom: 4px;">Going</p>
      <h2 class="green-text"><%= @going_count %></h2>
    </div>
  </div>

  <div class="butn">
    <div class="red-border">
      <p class="x-small red-text" style="margin-bottom: 4px;">Missing</p>
      <h2 class="red-text"><%= @missing_count %></h2>
    </div>
  </div>

  <!--- ADD JOIN LOGIC HERE --->

  <div class="butn" style="margin-bottom: 4px;" >
    <div class="join-red">
<!--     <h2 class="white-text">  </h2>
 -->

    <% if @event_user.present? %>
      <%= link_to "Cancel", event_user_path(@event_user), method: :delete %>
      <% else %>
        <%= link_to "Join", event_event_users_path(@event), method: :post %>
      <% end %>
      </div>
  </div>
</div>


<!--- IMAGE --->

<div class="mt-40">
  <%=  cl_image_tag (@event.photo.key), class: "w-100" %>
</div>

<!--- CONTENT --->

<div class="event-info">
  <h2 class="mb-20"><%= @event.name %> </h2>

  <div class="flex mb-20">
      <%=  image_tag "clock.png", class: "clock" %>
    <div class="grow">
      <p class="red-text" style="font-weight: lighter;"><%= start_time_humanized(@event) %></p>
      <p><%= @event.time.strftime("%A, %B %-d at %-l:%M%p") %> </p>
    </div>
  </div>

    <div class="flex justify-between mb-40">
      <%=  image_tag "map.png", class: "map" %>
    <div class="grow">
      <p><%= @event.address.split(',')[0] %> </p>
      <p><%= @event.address.split(',')[1] %> </p>
    </div>
  </div>

  <!--- UPDATE AND DELETE --->
  <% if current_user == @event.creator %>
  <div class="flex mb-35">
    <p class="button-black small"> <%= link_to "UPDATE", edit_event_path(params[:id]) %> </p>
    <p class="button-black small"><%= link_to "CANCEL", event_path, method: :delete %></p>
  </div>
  <% end %>

   <!--- DESCRIPTION --->

  <div class="flex justify-between event-border">
    <div>
      <p class="red-text" style="font-weight: lighter;">Event Manager</p>
      <p><%= @user.username.capitalize %> </p>
    </div>
      <%= image_tag @user.photo, class: "avatar" %>
<!--     <img class="avatar" src="../assets/beer" alt=""  />
 -->  </div>

  <div>
    <p class="mb-30"><%= @event.description %> </p>
  </div>


  <!--- GOING --->

  <div class="event-border">
    <div>
      <p class="red-text" style="font-weight: lighter;">Going</p>
    </div>
    <div class="flex mt-10">
      <% @event_attendees.each do |user_id| %>
        <% user =User.find(user_id) %>
        <%= link_to cl_image_tag(user.photo.key, class: "avatar"), user_path(user) %>
      <% end %>

      <!-- the next lines are the avaatars of the ppl going -->
     <!--  <img class="avatar marginr-4" src="../assets/beer" alt=""  />
      <img class="avatar marginr-4" src="../assets/beer" alt=""  />  -->
    </div>
  </div>


  <!--- CANCEL --->

<!--   <div class="mt-40">
    <p class="button-cancel">Cancel</p>
  </div> -->

  <!--- FACEBOOK WALL --->

  <div class="flex justify-between mt-35 event-border">
    <p class="red-text mb-20" style="font-weight: lighter;">Questions</p>
  </div>

  <div class="mb-40">
   <div>
    <div id="comments">
      <%= render @comments %>
    </div>
    <%= form_with model: [@event, Comment.new] do |form| %>
      <div class="form-group" style="display: flex; flex-direction: row;">
   <!--      <%= form.label :body %> -->
        <%= form.text_field :body, :placeholder => "Add your question" %>
 <!--        <%= form.submit :class => "input_comment" %> -->
      </div>
    <% end %>
    </div>
  </div>
</div>
