<!--- BUTTONS ON TOP --->

<div class="button-container" style="margin-top: 100px;">
  <div class="butn green-border">
    <p class="x-small green-text" style="margin-bottom: 4px;">Going</p>
    <h2 class="green-text"><%= @going_count %></h2>
  </div>

  <div class="butn red-border">
    <p class="x-small red-text" style="margin-bottom: 4px;">Missing</p>
    <h2 class="red-text"><%= @missing_count %></h2>
  </div>

  <!--- ADD JOIN LOGIC HERE --->
  <div class="butn join-red" style="margin-bottom: 4px;" >
<!--     <h2 class="white-text">  </h2>
 -->
    <% if @event_user.present? %>
      <%= link_to "Cancel", event_user_path(@event_user), method: :delete %>
      <% else %>
        <%= link_to "Join", event_event_users_path(@event), method: :post %>
      <% end %>
  </div>
</div>


<!--- IMAGE --->

<div class="mt-40">
  <img class="image" src="../assets/beer" alt=""  />
</div>

<!--- CONTENT --->

<div class="event-info">
  <h2 class="mb-20">Beer Pong Ding Dong</h2>

  <div class="flex">
    <%=  image_tag "clock.png", class: "clock" %>
    <div class="grow">
      <p class="bold">Monday, February 17</p>
      <p class="small">at 2:10 PM</p>
    </div>
    <!-- <div>
      <p class="x-small red-text" style="padding-top: 15px;">Check Calandar</p>
    </div> -->
  </div>

    <div class="flex justify-between mb-40">
      <%=  image_tag "map.png", class: "map" %>
    <div class="grow">
      <p class="bold">Oslo Mekaniske Verksted</p>
      <p class="small">Tøyenbekken 34, 0188 Oslo</p>
    </div>
<!--     <div>
      <p class="x-small red-text" style="padding-top: 15px;">Get Directon</p>
    </div> -->
  </div>

  <!--- UPDATE AND DELETE --->

  <div class="flex mb-35">
    <p class="button-black small">UPDATE</p>
    <p class="button-black small">DELETE</p>
  </div>

  <!--- GOING --->

  <div class="event-border">
    <div>
      <p class="bold">Going</p>
    </div>
    <div class="flex">
      <img class="avatar marginr-4" src="../assets/beer" alt=""  />
      <img class="avatar marginr-4" src="../assets/beer" alt=""  />
    </div>
  </div>

  <!--- DESCRIPTION --->

  <div class="flex justify-between event-border">
    <div>
      <p class="bold">Event Manager</p>
      <p class="small">Maria Lopez Gonzales</p>
    </div>
    <img class="avatar" src="../assets/beer" alt=""  />
  </div>

  <div>
    <p>Lorem ipsum dolor sit sroa rai amet, cons ecsa aatatetur adipiscing elit, sed do eiusm sateatod tempor sagtat incididunt ut labore et dolosatre mana aliqua. Ut enim ad minim veniam, quis </p>
  </div>

  <!--- CANCEL --->

<!--   <div class="mt-40">
    <p class="button-cancel">Cancel</p>
  </div> -->

  <!--- FACEBOOK WALL --->

  <div class="flex justify-between mt-35">
    <p class="bold">Questions</p>
  </div>

  <div class="mb-40">
   <div>
    <div id="comments">
      <h2>Comments</h2>
      <%= render @comments %>
    </div>
    <%= form_with model: [@event, Comment.new] do |form| %>
      <div class="form-group">
        <%= form.label :body %>
        <%= form.text_field :body %>
        <%= form.submit %>
      </div>
    <% end %>
  </div>
  </div>
</div>






<% content_for :after_js do %>
<script>
  function scrollLastMessageIntoView() {
    const messages = document.querySelectorAll('.comment');
    const lastMessage = messages[messages.length - 1];

    if (lastMessage !== undefined) {
      lastMessage.scrollIntoView();
    }
  }

  App["event_show_<%= @event.id %>"] = App.cable.subscriptions.create(
    { channel: 'CommentChannel', event_id: <%= @event.id %> },
    {
      received: (data) => {
        const messagesContainer = document.querySelector('#comments');
        messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);

        if (data.current_user_id == <%= current_user.id %>) {
          scrollLastMessageIntoView();
        }
      }
    });
</script>
<% end %>

<%# simple_form_for [@event, @event_user] do |f| %>
    <%#= f.button :submit, 'SEND' %>
<%# end %>
