<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.1.0/anime.min.js"></script>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag 'application' %>

    <script>
      function scrollLastMessageIntoView() {
        const messages = document.querySelectorAll('.comment');
        const lastMessage = messages[messages.length - 1]

        if (lastMessage !== undefined) {
          lastMessage.scrollIntoView();
        }
      }

      function subscribeEvent(id) {
        <% if signed_in? %>
        App[`event_show_${id}`] = App.cable.subscriptions.create({
          channel: 'CommentChannel',
          event_id: id
        },
        {
          received: (data) => {
            const messagesContainer = document.querySelector('#comments');
            let messageHTML = data.message_partial;

            if (messagesContainer && parseInt(messagesContainer.dataset.event_id) === id) {
              if (data.current_user_id == <%= current_user.id %>) {
                messageHTML = messageHTML.replace('comment-body', 'comment-body-red');
              }

              messagesContainer.insertAdjacentHTML('beforeend', messageHTML);

              if (data.current_user_id == <%= current_user.id %>) {
                scrollLastMessageIntoView();
              }
            } else {
              alert('NEW MESSAGE');
            }
          }
        });
      }

      window.eventIds = <%=j current_user.event_ids %>;
      document.addEventListener('DOMContentLoaded', () => {
        window.eventIds.forEach(id => subscribeEvent(id));
      });
      <% end %>
    </script>

    <%= yield(:after_js) %>
  </body>
</html>
